body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Orbitron');


.cover-image{
  background-image:  url(./img/background.png);
  background-size: cover;
  background-position: top;
  position: relative;
  height: 100vh;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  overflow: hidden
}

.heading-text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

.heading-primary{
  color: rgb(164, 99, 242);
  text-shadow: 1px 1px white;
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 60px;
  backface-visibility: hidden;
}

.heading-primary-main{
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1s ease-out
}

.heading-primary-sub{
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  font-family: 'Lato';
}


#clock {
  font-family: 'Orbitron', sans-serif;
  color: rgb(164, 99, 242);
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo{
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  background: linear-gradient(110deg, rgb(242, 99, 148) 45%, rgb(99, 242, 107) 55%);
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  height: 60px;
  box-shadow: 5px 5px 5px rgba(164, 99, 242,0.3);
  color: rgba(164,99,242);
  text-shadow: 1px 1px white;
  border: 3px white outset
}


.bg-dwyl-pink {
  background-color: rgb(242, 99, 148);
}

.bg-dwyl-lime {
  background-color: #63f26b;
}

.ba-b--melon{
  border: 2px #f26394 outset;
  cursor: pointer;
}

.ba-b--lime{
  border: 2px rgb(99, 242, 107) outset;
  cursor: pointer;
}

.task{
  text-align: center;
  padding: 5px;
  margin: 5px;
  height: 200px;
  width: 20%;
  border-radius: 25px;
  transition: all .2s ease-in-out; 
  box-shadow: 1px 1px 5px rgb(163, 161, 161);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.incomplete > button {
  font-family: 'Orbitron', sans-serif
}

.task:hover{
  transform: scale(1.1);
}
.completed{
  text-decoration: line-through;
  background-color: #63f26b;
}

.completed > .date {
  display: none;
}

.incomplete{
  background-color: #f26394
}

.overdue{
  background-color: grey;
}

.overdue > p{
  opacity: .3;
  text-decoration: line-through;
}

.overdue > h2 {
  opacity: .3;
  text-decoration: line-through;
}

.greeting{
  position: relative;
  top: 5px;
  left: -500px;
  font-size: 18px;
}

.greeting > strong {
  font-family: 'Orbitron', sans-serif;
  color: purple
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-6 {
  border: 6px groove #7e57c2;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: loader-1-inner 1s ease-out alternate infinite;
  animation: loader-1-inner 1s ease-out alternate infinite;
}

.loader-6 .loader-inner {
  border: 0px inset #9575cd;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: border-zoom 1s ease-out alternate infinite;
  animation: border-zoom 1s ease-out alternate infinite;
}

@-webkit-keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

@-webkit-keyframes border-zoom {
  0% {
      border-width: 0px;
  }
  100% {
      border-width: 10px;
  }
}

@keyframes border-zoom {
  0% {
      border-width: 0px;
  }
  100% {
      border-width: 10px;
  }
}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}


.task-form{
  max-width: 400px;
  margin: 15px auto;
  font-family: 'Orbitron', sans-serif
}

input {
  width: 60%;
  padding: 10px;
}

input.task-form {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  border-radius:10px
}

.due-date-button{
  padding:10px;
  margin: 5px;
  border-radius: 10px
}

.due-date-input{
  margin-bottom: 5px
}

.high-alert{
  box-shadow: 0px 0px 3px red;
  animation-name: high-alert;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate
  
}

.highlight-deadline{
  color:yellow;
}

.tasks {
  width: 90%;
  align-items:center;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 80%;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 450px;
  overflow-x: scroll
}
.filterBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5px
}
.filterBar button{
  border-radius: 25px;
  padding: 8px;
  background: #a463f2;
  color: white;
  border: #a463f2 3px outset;
  font-family: "Orbitron", sans-serif;
}

.logout{
  font-family: 'Orbitron', sans-serif;
  position: relative;
  top: -45px;
  left: 500px;
  border-radius: 25px
}

.tasks-container{
  height: 60%;
  width: 90%;
  margin: 0 auto
}

.toggleForm{
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: 'Orbitron', sans-serif
}

.toDo{
  font-family: 'Orbitron',sans-serif;
  font-size: 16px
}

.buttonDiv{
  font-family: 'Orbitron', sans-serif;
  font-size: 14px
}

.submit-button{
  border-radius: 10px
}

@keyframes high-alert {
  0%   {background-color: orange;
        border: orange 4px solid}
  50%  {background-color: orangered;
        border:orangered 4px solid} 
  100% {background-color: red;
        border:red 4px solid}
}

.deleteButton{
 border-radius: 25px;
 padding: 5px;
 font-size: 14px;
 margin-left: 1px;
 text-decoration: none;
}

.loginForm{
  font-family: 'Orbitron', sans-serif;
  width: 90%;
  margin: 0 auto
}

.loginForm input {
  border-radius: 10px
}

.signupForm{
  font-family: 'Orbitron', sans-serif;
  width: 90%;
  margin: 0 auto
}

.signupForm input {
  border-radius: 10px
}

.errorHeadline{
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-weight: 700
}

#errorMessage{
  font-size: 14px;
  font-weight: 400
}
.credentialsContainer{
  background: rgba(238, 231, 247, 0.438);
  width: max-content;
  height: max-content;
  margin: 0 auto;
  padding: 20px 15px 20px 15px;
  border-radius: 10px;
}

.credentialsContainer > p {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: 700
}

.credentialsContainer > a {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px
}

.noList {
  list-style: none;
}

.goBackLink{
  font-family: 'Orbitron', sans-serif;
  font-size: 14px
}